<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Detalle factura</p>
        <label class="subtitle">{{actualBill?.client?.name}} ---- {{actualBill?.date}}</label>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Producto</td>
                        <td>Cantidad</td>
                        <td>Valor unitario</td>
                        <td>Valor total</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detailBill of detailBills">
                        <td>{{detailBill.product?.name}}</td>
                        <td>{{detailBill.quantity}}</td>
                        <td>{{detailBill.unitValue}}</td>
                        <td>{{detailBill.totalValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button routerLink="/home/clientbill/all">Volver</button>
        </div>
    </div>
</div>