<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Facturas</p>
        <div class="search">
            <input type="text" placeholder="Nombre del cliente o fecha ('AAAA-MM-DD')">
            <button>Consultar</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Cliente</td>
                        <td>Fecha</td>
                        <td>Valor pendiente</td>
                        <td>Valor total</td>
                        <td>Detalle factura</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bill of bills">
                        <td>{{bill.client?.name}}</td>
                        <td>{{bill.date}}</td>
                        <td>{{bill.pendingValue}}</td>
                        <td>{{bill.totalValue}}</td>
                        <td>
                            <a (click)="viewDetail(bill.idClientBill!)"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a (click)="deleteBill(bill.idClientBill!)"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button (click)="showOptions()">Crear</button>
        </div>
    </div>
</div>