<div class="container">

    <app-header></app-header>

    <div class="dashboard">
        <p>Secciones</p>
        <div class="search">
            <input type="text" [(ngModel)]="searchName" name="searchName" placeholder="Nombre a buscar (vacio para buscar todos)">
            <button (click)="findByName()">Consultar</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Codigo</td>
                        <td>Nombre</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let section of sections">
                        <td>{{section.idSection}}</td>
                        <td>{{section.name}}</td>
                        <td>
                            <a (click)="updateSection(section.idSection)"><img src="../../../../assets/img/update.png" alt="update"></a>
                            <a (click)="deleteSection(section.idSection)"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button routerLink="/home/section/create">Crear</button>
        </div>
    </div>
</div>