<div class="container">
    <div class="menu">
        <div class="logo">
            <a routerLink="/home"><img src="../../../../assets/img/logoTienda.png" alt=""></a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/section">
                <button>Secciones</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/product">
                <button>Productos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/supplier">
                <button>Proveedores</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/order">
                <button>Pedidos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/client">
                <button>Clientes</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/clientbill">
                <button>Facturas</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/payment">
                <button>Pagos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home">
                <button>Reportes</button>
            </a>
        </div>
    </div>
    <div class="dashboard">
        <p>Crear pedido</p>
        <div class="bill">
            <div class="header_one">
                <label>Codigo pedido: {{actualOrder?.idOrderBill}}</label>
                <div class="select_container">
                    <label>Proveedor: </label>
                    <select [(ngModel)]="idSupplier" name="idSupplier" class="select">
                        <option value="0" selected>SELECCIONE UN PROVEEDOR</option>
                        <option *ngFor="let supplier of suppliers" value="{{supplier.idSupplier}}">{{supplier.supplierName}}</option>
                    </select>
                </div>
            </div>
            <div class="header_two">
                <label>Fecha: {{actualOrder?.date}}</label>
            </div>
            <div class="header_three search">
                <input type="text" placeholder="Consultar producto" [(ngModel)]="productName" name="productName">
                <button (click)="showOptions()">Consultar</button>
            </div>
            <div class="header_four">
                <label>{{actualProduct?.name}}</label>
                <label>Stock actual: {{actualProduct?.quantityAvailable}}</label>
                <button (click)="addProduct()">Agregar</button>
            </div>
            <div class="table_container header_five">
                <table>
                    <thead>
                        <tr>
                            <td>Producto</td>
                            <td>Cantidad pedida</td>
                            <td>Cantidad recibida</td>
                            <td>Valor unitario</td>
                            <td>Valor conjunto</td>
                            <td>Valor venta c/u</td>
                            <td>% ganancia</td>
                            <td>Eliminar</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detailOrder of selectedProducts">
                            <td>{{detailOrder.product?.name}}</td>
                            <td><input type="number" [(ngModel)]="detailOrder.orderedQuantity" name="orderedQuantityProduct" class="border"></td>
                            <td><input type="number" [(ngModel)]="detailOrder.receivedQuantity" name="receivedQuantityProduct" (change)="updateTotals()" class="border"></td>
                            <td><input type="number" [(ngModel)]="detailOrder.unitValue" name="unitValueProduct" (change)="updateTotals()" class="border"></td>
                            <td>{{detailOrder.totalValue}}</td>
                            <td>
                                <input type="number" class="border" [(ngModel)]="detailOrder.product!.saleValue" name="saleValue" (change)="updateTotals()">
                            </td>
                            <td>{{detailOrder.percentageProfit}}%</td>
                            <td>
                                <a (click)="removeProduct(detailOrder.product?.idProduct!)"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="header_six">
                <label>Valor compra: {{actualOrder?.totalValue}}</label>
            </div>
            <div class="action header_seven">
                <button class="cancel" (click)="deleteOrder()">Cancelar</button>
                <button (click)="updateSupplier()">Registrar</button>
            </div>
        </div>
    </div>
</div>