<div class="container">
    <div class="menu">
        <div class="logo">
            <a routerLink="/home"><img src="../../../../assets/img/logoTienda.png" alt=""></a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/section">
                <button>Secciones</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/product">
                <button>Productos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/supplier">
                <button>Proveedores</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/order">
                <button>Pedidos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/client">
                <button>Clientes</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/clientbill">
                <button>Facturas</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/payment">
                <button>Pagos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home">
                <button>Reportes</button>
            </a>
        </div>
    </div>
    <div class="dashboard">
        <p>Pedidos</p>
        <div class="search">
            <input type="text" placeholder="Nombre del Proveedor o fecha ('AAAA-MM-DD')">
            <button>Consultar</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Proveedor</td>
                        <td>Fecha</td>
                        <td>Valor total</td>
                        <td>Detalle pedido</td>
                        <td>Elminar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre proveedor</td>
                        <td>10-05-2022</td>
                        <td>58500</td>
                        <td>
                            <a routerLink="/home/order/detail"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td>
                            <a routerLink="#"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button routerLink="/home/order/create">Crear</button>
        </div>
    </div>
</div>