<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Pagar</p>
        <form>
            <div class="field">
                <p>Cliente</p>
                <input type="text" value="{{client?.name}}" readonly>
            </div>
            <div class="field">
                <p>Valor a pagar</p>
                <input type="number" [(ngModel)]="cash" name="cash">
            </div>
            <div class="button">
                <button (click)="generatePayment()">Confirmar</button>
            </div>
        </form>
    </div>
</div>