<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Clientes</p>
        <div class="search">
            <input type="text" [(ngModel)]="searchName" name="searchName" placeholder="Nombre a buscar (vacio para buscar todos)">
            <button (click)="findByName()">Consultar</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Cedula</td>
                        <td>Nombre</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{client.idClient}}</td>
                        <td>{{client.name}}</td>
                        <td>
                            <a (click)="updateClient(client.idClient!)"><img src="../../../../assets/img/update.png" alt="update"></a>
                            <a (click)="deleteClient(client.idClient!)"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button routerLink="/home/client/create">Crear</button>
        </div>
    </div>
</div>