<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Proveedores</p>
        <div class="search">
            <input type="text" [(ngModel)]="searchName" name="searchName" placeholder="Nombre a buscar (vacio para buscar todos)">
            <button (click)="findByName()">Consultar</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Nit</td>
                        <td>Nombre proveedor</td>
                        <td>Nombre vendedor</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let supplier of suppliers">
                        <td>{{supplier.idSupplier}}</td>
                        <td>{{supplier.supplierName}}</td>
                        <td>{{supplier.sellerName}}</td>
                        <td>
                            <a (click)="updateSupplier(supplier.idSupplier!)"><img src="../../../../assets/img/update.png" alt="update"></a>
                            <a (click)="deleteSupplier(supplier.idSupplier!)"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button routerLink="/home/supplier/create">Crear</button>
        </div>
    </div>
</div>