<div class="container">
    <div class="logo">
        <a href="#"><img src="../../../../assets/img/logoTienda.png" alt="logo"></a>
    </div>
    <form>
        <div class="field">
            <p>Usuario</p>
            <input type="text" autocomplete="off" required>
        </div>
        <div class="field">
            <p>Contraseña</p>
            <input type="password" autocomplete="off" required>
        </div>
        <div class="button">
            <input type="button" value="Ingresar" (click)="goHome()">
        </div>
    </form>
</div>