.container {
    padding: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.table_container {
    border-radius: 15px;
    margin-top: 10px;
    height: 85%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1em;
    margin: auto; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr { 
    background-color: rgb(14, 150, 89);
    color: #ffffff; 
    text-align: middle; 
}

table tbody {
    color: #000;
}

table td { 
    padding: 5px 10px; 
}

table tbody tr { 
    border-bottom: 1px solid #dddddd; 
} 

table tbody tr:nth-of-type(1n) { 
    background-color: #f3f3f3; 
} 

table tbody tr:nth-of-type(2n) { 
    background-color: #dadada; 
} 