<div class="container">
    <div class="menu">
        <div class="logo">
            <a routerLink="/home"><img src="../../../../assets/img/logoTienda.png" alt=""></a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/section">
                <button>Secciones</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/product">
                <button>Productos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/supplier">
                <button>Proveedores</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/order">
                <button>Pedidos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/client">
                <button>Clientes</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/clientbill">
                <button>Facturas</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/payment">
                <button>Pagos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home">
                <button>Reportes</button>
            </a>
        </div>
    </div>
    <div class="dashboard">
        <p>Crear producto</p>
        <form>
            <div class="field">
                <p>Nombre</p>
                <input type="text">
            </div>
            <div class="field">
                <p>Cantidad</p>
                <input type="number">
            </div>
            <div class="field">
                <p>Valor venta</p>
                <input type="number">
            </div>
            <div class="field">
                <p>Seccion</p>
                <select name="" id="">
                    <option value="" selected>Seleccione seccion</option>
                    <option value="">Seccion 1</option>
                    <option value="">Seccion 2</option>
                    <option value="">Seccion 3</option>
                </select>
            </div>
            <div class="button">
                <button>Crear</button>
            </div>
        </form>
    </div>
</div>