<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Facturas pendientes</p>
        <p>{{client?.name}}</p>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Fecha</td>
                        <td>Valor total</td>
                        <td>Valor pendiente</td>
                        <td>Detalle factura</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bill of bills">
                        <td>{{bill.date}}</td>
                        <td>{{bill.totalValue}}</td>
                        <td>{{bill.pendingValue}}</td>
                        <td>
                            <a (click)="viewDetail(bill.idClientBill!, bill.client?.idClient!)"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button routerLink="/home/payment/all">Volver</button>
        </div>
    </div>
</div>