<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Detalle pedido</p>
        <label class="subtitle">{{actualOrder?.supplier?.supplierName}} ---- "{{actualOrder?.date}}"</label>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Producto</td>
                        <td>Catidad pedida</td>
                        <td>Cantidad recibida</td>
                        <td>Valor unitario</td>
                        <td>Valor total</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detailOrder of detailOrders">
                        <td>{{detailOrder.product?.name}}</td>
                        <td>{{detailOrder.orderedQuantity}}</td>
                        <td>{{detailOrder.receivedQuantity}}</td>
                        <td>{{detailOrder.unitValue}}</td>
                        <td>{{detailOrder.totalValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button routerLink="/home/order/all">Volver</button>
        </div>
    </div>
</div>