<div class="container">
    <div class="menu">
        <div class="logo">
            <a routerLink="/home"><img src="../../../../assets/img/logoTienda.png" alt=""></a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/section">
                <button>Secciones</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/product">
                <button>Productos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/supplier">
                <button>Proveedores</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/order">
                <button>Pedidos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/client">
                <button>Clientes</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/clientbill">
                <button>Facturas</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/payment">
                <button>Pagos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home">
                <button>Reportes</button>
            </a>
        </div>
    </div>
    <div class="dashboard">
        <p>Detalle factura</p>
        <label class="subtitle">Nombre cliente - Fecha</label>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Producto</td>
                        <td>Cantidad</td>
                        <td>Valor unitario</td>
                        <td>Valor total</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                    <tr>
                        <td>Nombre producto</td>
                        <td>3</td>
                        <td>7500</td>
                        <td>22500</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="action">
            <button>Volver</button>
        </div>
    </div>
</div>