<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Crear cliente</p>
        <form>
            <div class="field">
                <p>Cedula</p>
                <input type="number" placeholder="Cedula" [(ngModel)]="idClient" name="idClient">
            </div>
            <div class="field">
                <p>Nombre completo</p>
                <input type="text" placeholder="Nombre completo" [(ngModel)]="name" name="name">
            </div>
            <div class="button">
                <button (click)="createClient()">Crear</button>
            </div>
        </form>
    </div>
</div>