<div class="container">
    <div class="menu">
        <div class="logo">
            <a routerLink="/home"><img src="../../../../assets/img/logoTienda.png" alt=""></a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/section">
                <button>Secciones</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/product">
                <button>Productos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/supplier">
                <button>Proveedores</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/order">
                <button>Pedidos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/client">
                <button>Clientes</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/clientbill">
                <button>Facturas</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home/payment">
                <button>Pagos</button>
            </a>
        </div>
        <div class="menu_option">
            <a routerLink="/home">
                <button>Reportes</button>
            </a>
        </div>
    </div>
    <div class="dashboard">
        <p>Crear factura</p>
        <div class="bill">
            <div class="header_one">
                <label>Codigo factura: {{actualBill?.idClientBill}}</label>
                <div class="select_container">
                    <label>Cliente: </label>
                    <select [(ngModel)]="idClient" name="idClient" class="select">
                        <option value="0" selected>SELECCIONE UN CLIENTE</option>
                        <option *ngFor="let client of clients" value="{{client.idClient}}">{{client.name}}</option>
                    </select>
                </div>
            </div>
            <div class="header_two">
                <label>Fecha: {{actualBill?.date}}</label>
            </div>
            <div class="header_three search">
                <input type="text" placeholder="Consultar producto" [(ngModel)]="productName" name="productName">
                <button (click)="showOptions()">Consultar</button>
            </div>
            <div class="header_four">
                <label>{{actualProduct?.name}}</label>
                <label>Stock disponible: {{actualProduct?.quantityAvailable}}</label>
                <input type="number" [(ngModel)]="actualQuantity" name="actualQuantity" placeholder="Cantidad">
                <button (click)="addProduct()">Agregar</button>
            </div>
            <div class="table_container header_five">
                <table>
                    <thead>
                        <tr>
                            <td>Producto</td>
                            <td>Cantidad</td>
                            <td>Valor unitario</td>
                            <td>Valor conjunto</td>
                            <td>Eliminar</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detailBill of selectedProducts">
                            <td>{{detailBill.product?.name}}</td>
                            <td>{{detailBill.quantity}}</td>
                            <td>{{detailBill.product?.saleValue}}</td>
                            <td>{{detailBill.product?.saleValue! * detailBill.quantity!}}</td>
                            <td>
                                <a (click)="removeProduct(detailBill.product?.idProduct!)"><img src="../../../../assets/img/delete.png" alt="delete"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="header_six">
                <label>Valor compra: {{actualBill?.totalValue}}</label>
            </div>
            <div class="action header_seven">
                <button class="cancel" (click)="deleteBill()">Cancelar</button>
                <button (click)="updateClient()">Registrar</button>
            </div>
        </div>
    </div>
</div>