<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Actualizar proveedor</p>
        <form>
            <div class="field">
                <p>Nit</p>
                <input type="number" [(ngModel)]="idSupplier" name="idSupplier" readonly>
            </div>
            <div class="field">
                <p>Nombre empresa</p>
                <input type="text" placeholder="Nombre empresa" [(ngModel)]="supplierName" name="supplierName">
            </div>
            <div class="field">
                <p>Nombre vendedor</p>
                <input type="text" placeholder="Nombre vendedor" [(ngModel)]="sellerName" name="sellerName">
            </div>
            <div class="button">
                <button (click)="updateSupplier()">Actualizar</button>
            </div>
        </form>
    </div>
</div>