<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Actualizar producto</p>
        <form>
            <div class="field">
                <p>Nombre</p>
                <input type="text" placeholder="Nombre" [(ngModel)]="name" name="name">
            </div>
            <div class="field">
                <p>Cantidad</p>
                <input type="number" placeholder="Cantidad" [(ngModel)]="quantityAvailable" name="quantityAvailable">
            </div>
            <div class="field">
                <p>Valor venta</p>
                <input type="number" placeholder="Valor venta" [(ngModel)]="saleValue" name="saleValue">
            </div>
            <div class="field">
                <p>Seccion</p>
                <select [(ngModel)]="idSection" name="idSection">
                    <option value="0" selected>SELECCIONE UNA SECCION</option>
                    <option *ngFor="let section of sections" value="{{section.idSection}}">{{section.name}}</option>
                </select>
            </div>
            <div class="button">
                <button (click)="updateProduct()">Actualizar</button>
            </div>
        </form>
    </div>
</div>