<div class="container">
    
    <app-header></app-header>
    
    <div class="dashboard">
        <p>Pagos</p>
        <div class="search">
            <select [(ngModel)]="idClient" name="idClient">
                <option value="-1">Filtrado de clientes</option>
                <option *ngFor="let client of allClients" value="{{client.idClient}}">{{client.name}}</option>
            </select>
            <button (click)="filterByClient()">Consultar</button>
        </div>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <td>Cliente</td>
                        <td>Nro facturas pendientes</td>
                        <td>Valor pendiente total</td>
                        <td>Ver facturas</td>
                        <td>Pagar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of filterClients">
                        <td *ngIf="client.totalPending! > 0">{{client.name}}</td>
                        <td *ngIf="client.totalPending! > 0">{{client.numberBills}}</td>
                        <td *ngIf="client.totalPending! > 0">{{client.totalPending}}</td>
                        <td *ngIf="client.totalPending! > 0">
                            <a (click)="viewBills(client.idClient!)"><img src="../../../../assets/img/view.png" alt="view"></a>
                        </td>
                        <td *ngIf="client.totalPending! > 0">
                            <a (click)="goPayment(client.idClient!)" routerLink="/home/payment/create"><img src="../../../../assets/img/pay.png" alt="pay"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>